<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/nav.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/simulations.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/stylePurple.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%- navbar %>
    <div class="simulations">
        <div class="page-title">
            <h1>Simulations</h1>
        </div>
        <div class="flex-container">
            <div class="flex-child sim-items">
                <% for (var i = 0; i < simulations.length; i++){ %>
                <div class="sim-item" >
                    <div class="sim-img"onclick="window.open('/simulations/<%= simulations[i].urlName %>', '_blank')" style="cursor: pointer;">
                      <% if(simulations[i].image){ %>
                        <img src="images/<%= simulations[i].image %>" alt="img">
                        <% } else{ %>
                        <img src="images/default.png">
                        <% } %>
                    </div>
                    <div class="sim-title"onclick="window.open('/simulations/<%= simulations[i].urlName %>', '_blank')" style="cursor: pointer;">
                        <h4><%= simulations[i].name %></h4>
                    </div>
                    <div class="sim-description"onclick="window.open('/simulations/<%= simulations[i].urlName %>', '_blank')" style="cursor: pointer;">
                        <p></i><%= simulations[i].description %></i></p>
                    </div>
                    <div class="sim-labels">
                        <% for (var j = 0; j < simulations[i].labels.length; j++){ %>
                        <button class="label-item"><%= simulations[i].labels[j] %></button>
                        <% }
                        %>

                    </div>
                </div>
                <% } %>
            </div>

            <div class="flex-child sidebar">
                <div class="sim-label">
                    <h3>Labels</h3>
                </div>
            </div>
        </div>

    </div>
    <script src="javascripts/utilities.js"></script>

    

  </body>
</html>
